section {
  margin-top: 2rem;
}

.end {
  padding: 2rem 0;
}

.ui.accordion .title {
  cursor: pointer;
}

.ui.accordion .title.clear {
  color: black;
}

.ui.accordion .content {
  display: none;
}

.ui.accordion .content.transition {
  display: block;
}

.ui.accordion .content.hidden {
  display: none;
}
